<header>
    <div class="menu">

        <img src="https://img.icons8.com/color/50/000000/help--v1.png"/>

        <div class="title">
            <h1> Checkel </h1>
        </div>

        <div class="configStats">
            <img style="margin-right: 1vw" src="https://img.icons8.com/ios/100/000000/statistics.png" />

            <img src="https://img.icons8.com/ios-filled/100/4a90e2/settings.png"/>
        </div>

    </div>
</header>